body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}


.content h1{
    background: #fff;
    padding: 20px;
    margin: 0;
}
.content h2{
    background: #e0e0e0;
    padding: 8px 20px;
    font-size: 1.2em;
    margin: 0;
    color: #a0a0a0;
    border-bottom: 1px #fff dashed;
}
.content ul{
    list-style: none;
    /* background: #f5f5f5; */
    margin: 0;
    padding: 0;
}


.phonetic{
    background: #fff;
    padding: 8px 20px;
    margin: 0;
}

.content ul li{
    width: 100%;
    list-style: none;
    height: 100%;
    display: inline-flex;
    cursor: pointer;
}
.content ul li:hover{
    background: #e2e2e2;
}
 


.content .li-favicon{
    width: 56px;
    line-height: 100%;
}

.li-favicon img{
    width: 32px;
    margin: 10px;
}

.li-content{
    height: 56px;
    width: 85%;
    padding: 3px 0px;
}

.li-name{
    height: 20px;
    color: #000;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
    margin-top: 5px;
}
.li-url{
    height: 25px;
    color: #949494;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.selected{
    background: #efefef;
    background-image: url(go.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 62px;
}
.selected span{
    display: none;
}

.setting{
    display: none;
    /* background: #eeeeee; */
    background: #ffffff;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.setting h1{
    /* margin: 0 auto;
    width: 100%;
    padding: 10px 5px;
    text-align: left;
    font-size: 25px; */
}
.setting button{
    /* color: #fff; */
    /* background: #5F6367; */
    /* font-size: 20px;
    height: 48px;
    width: 40%;
    margin: 8px 8px 0 0;
    float: right;
    border-radius: 8px;
    cursor: pointer !important; */
}
.setting button:hover{
    /* background: #a0a0a0; */
}

.setting textarea{
    /* display: block;
    width: 98%;
    padding: 1%;
    margin: 0 auto;
    border: solid 1px #a0a0a0;
    height: 200px;
    font-size: 14px;
    border-left: 0;
    border-right: 0; */
}

.click-changeSourcePage{
    background-image: url(set-button.png);
    width: 40px;
    height: 40px;
    z-index: 99;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    right: 0px; 
    bottom: 0px;
    opacity: 0.5;
    cursor: pointer;
}

.click-changeSourcePage:hover{
    opacity: 1;
    background-size: 40px 40px;
}
.click-content:hover{
    opacity: 0.5;
    background-size: 40px 40px;
}
.click-content{
    /* background-image: url(set-back.png); */
    width: 48px;
    z-index: 99;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    background: #5F6367;
    font-size: 20px;
    height: 48px;
    margin: 8px 8px 0 0;
    float: right;
    border-radius: 8px;
    line-height: 48px;
    text-align: center;
    cursor: pointer !important;
}

.bg-test{
    background-color: thistle;
}

.choice-span{
    position: absolute;
    width: 45px;
    text-align: center;
    line-height: 62px;
    border-radius: 6px;
    margin: 0;
    color: #000;
    right: 10px;
    font-size: 14px;
    font-weight: 400;
}

.cover{
    position:fixed;
    top: 0px;
    left: 0px;
    outline:5000px solid rgba(0, 0, 0, 0.15);
    z-index: 99999;
    display: none;
}

.layui-icon {
    font-family: layui-icon !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.input-tip-text{
    display: inline-block;
    position: relative;
    top: 4px;
    color: #838383;
}